#Temp files
*~
*.o
*.bak

#Data - download example data from Reight lab website
data/*

#Output directories
bin/*
src/admixinclude/*
src/admixlib/*
src/admixtables/*

# Other directories
src/xsrc/*
src/oldsource/*

#Various output files
pdoc.aux
pdoc.dvi
pdoc.log
pdoc.ps

#Examples
examples.qpGraph/*:log
examples.qpGraph/*.ggg
examples.qpGraph/*.dot
examples.qpGraph/*.ps
examples/*.log
