#Temp files
*~
*.o
*.bak

#Output directories
src/admixinclude/*
src/admixlib/*
src/admixtables/*

#Various output files
src/backup
src/convertf
src/copych
src/diff.out
src/diffch
src/dirlist
src/dowtjack
src/gmon.out
src/grabpars
src/libnick.a
src/nicksrc/tmp
src/oldmake
src/oldmakefile
src/q1
src/qaz
src/qp3Pop
src/qpAdm
src/qpBound
src/qpDstat
src/qpF4ratio
src/qpGraph
src/qpWave
src/qpreroot
src/rolloff
src/tables
