backup
convertf
copych
diff.out
diffch
dirlist
dowtjack
easycheck
easylite
easystats
expfit.sh
gcount
geno_single
gmon.out
grabpars
kimf
libnick.a
mergeit
merge_transpose
multimerge
nickhash
nicktmp
oldmake
oldmakefile
q1
qaz
qp3Pop
qp4diff
qpAdm
qpBound
qpDpart
qpdslow
qpDstat
qpff3base
qpfmv
qpfstats
qpF4ratio
qpGraph
qpWave
qpreroot
rolloff
rolloffp
simpjack2
snpunion
tables
transpose
qpmix
