backup
convertf
copych
diff.out
diffch
dirlist
dowtjack
expfit.sh
gcount
gmon.out
grabpars
kimf
libnick.a
mergeit
nicktmp
oldmake
oldmakefile
q1
qaz
qp3Pop
qp4diff
qpAdm
qpBound
qpDpart
qpdslow
qpDstat
qpff3base
qpfmv
qpfstats
qpF4ratio
qpGraph
qpWave
qpreroot
rolloff
rolloffp
simpjack2
tables
qpmix
